{% extends "base.html" %}
{% block main_block %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="fw-bold text-center">Income total:{{income_total.total}}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <h3 class="text-center">Category Summery</h3>
                    <canvas id="myChart"></canvas>
                </div>
                <div class="col-4 fw-bold text-center">Category Progress Bar</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%block script_block%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: [{%for cs in category_summary%}"{{cs.category}}",{%endfor%}],
      datasets: [{
        label: '# of Votes',
        data: [{%for cs in category_summary%}"{{cs.total}}",{%endfor%}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{%endblock%}